@tailwind base;
@tailwind components;
@tailwind utilities;



/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003CFF;
  border-radius: 3px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@layer base {
	@font-face {
		font-family: 'hussar';
		src: url('./assets/font/HussarBold.otf');
    font-display: swap;

	}
	@font-face {
		font-family: 'hussar-italic';
		src: url('./assets/font/HussarBoldObliqueTwo.otf');
    font-display: swap;
	
	}
}

.circle-container {
	position: relative;
	display: inline-block; /* Make sure the container doesn't collapse */
}

.circle-container::before {
	content: "";
	@apply block h-3/4 aspect-square rounded-full bg-primary absolute z-[-1] top-1/2 left-1/2;
	transform: translate(-50%, -35%); 
}

.shadow-png {
  filter: drop-shadow( 0 0 50px #aaa );
}

.animation-pulse-up-down {
	animation: pulse-up-down 8s ease-in-out infinite;
}

@keyframes pulse-up-down {
	0% {
		transform: translateY(-2rem)
	}

	50% {
		transform: translateY(2rem)
	}


	100% {
		transform: translateY(-2rem)
	}
}

.animate-out {
  animation: moveOut 0.5s linear forwards;
}

@keyframes moveOut {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0%);
  }
}
